<h1>MySQL Results:</h1>
<form>
	<fieldset>
		<legend>Input An Exercise</legend>
		Exercise Name:<br/>
		<input type="text" id="exeName"/>
		<br/>Number of Reps:<br/>
		<input type="text" id="exeReps"/>
		<br/>Weight:<br/>
		<input type="text" id="exeWeight"/>
		<br/>Date:<br/>
		<input type="text" id="exeDate"/>
		<br/>Unit:<br/>
		<input type="text" id="exeUnit"/>
		<br/>
		<input type="submit" class="input"/>
	</fieldset>
</form>