<h1>MySQL Results:</h1>
<form>
	<fieldset>
		<legend>Input An Exercise</legend>
		<label>Exercise Name:</label><br/>
		<input type="text" id="exeName"/>
		<br/><label>Number of Reps:</label><br/>
		<input type="number" id="exeReps"/>
		<br/><label>Weight:</label><br/>
		<input type="number" id="exeWeight"/>
		<br/><label>Date:</label><br/>
		<input type="text" id="exeDate"/>
		<br/><label>Unit:</label><br/>
		<input type="text" id="exeUnit"/>
		<br/>
		<input type="submit" class="input"/>
	</fieldset>
</form>