<h1>MySQL Results:</h1>
<form>
	<fieldset>
		<legend>Input An Exercise</legend>
		Exercise Name:<br/>
		<input type="text" id="exeName"/>
		Number of Reps:<br/>
		<input type="text" id="exeReps"/>
		Weight:<br/>
		<input type="text" id="exeWeight"/>
		Date:<br/>
		<input type="text" id="exeDate"/>
		Unit:<br/>
		<input type="text" id="exeUnit"/>
		<input type="submit" class="input"/>
	</fieldset>
</form>